Clarify text around RFC 9260 Section 7

The claim that RFC 9260 Section 7.2.2 does not contain a similar rule is incorrect and should be fixed.

replaced by #121 