Fix inconsistencies with 'rate-limited' definitions

Section 2.1 (terminology) imports RFC 7661's definition but doesn't use it anywhere.  Section 3's trigger is 'FlightSize < cwnd'.  The Section 2.1 definition could be deleted.  Also, the cwnd-limited definition is located in RFC 7661 Section 3, instead of Section 4.5.3.

This was eventually fixed not by #124 but by #125