Fix editorial issues in version -10

The RFC 9438 quote is not verbatim (Section 4.5) and doesn't clarify which parts of RFC 9438 Section 5.8 to keep.

s/current method/method/

s/MPS/max_datagram_size/

Miscellaneous punctuation fixes.